.dart_tool/dartpad/web_plugin_registrant.dart
/.dart_tool
/.idea
/assets
/build
/lib
README.md
pubspec.yaml
pubspec.lock
package.json
package-lock.json
firebase.json
analysis_options.yaml
.metadata
.flutter-plugins-dependencies
